#a{
    color: rgb(124, 211, 18);
    background: none;

}
body{
    background-image:url('Picsart_24-09-10_22-14-43-698.jpg');
    background-repeat: no-repeat;
    background-size: 1400px;
    background-attachment: scroll;
    font-family:Bahnschrift;
    color: rgb(124, 211, 18);
    
}
.b{
    text-decoration: none;
    color:white;
    background: none;
    font-family:Algerian;
    font-size: 30px;
    border: 3px solid beige;
    padding:12px 21px;
    border-radius: 10px;
    transition: 0.5s;
}
.b:hover{
    color: black;
    background: linear-gradient(to right, red, crimson, orange, yellow);
}
#d{
    text-decoration: none;
    color:white;
    background: none;
    border: 3px solid beige;
    padding:12px 21px;
    border-radius: 10px;
    transition: 0.5s;
}
#d:hover{
    color:red;
    background-color:yellowgreen;
}
#business{
    background:radial-gradient(circle, red, blue, yellow );
    text-align: center;
    color:color-mix(in srgb-linear, black 40%, beige 60%);
    font-size: 25px;
}
.photo{
    height:200px;
    width: 200px;
    animation-name:pic;
    animation-duration:5s;
    position:relative;
    animation-iteration-count: infinite;
}
@keyframes pic{
    0% { left:0px; top:0px;}

    33% { left:950px; top:0px;}
    
    67% { left:500px; top:0px;}
    
    100% { left:0px; top:0px;}
}
.effort{
    text-align: justify;
    margin-left: 20px;
}
