body{
    background-color:  rgb(23, 21, 21);
    color:azure;
    font-family: algerian;
}
h1{
    color: rgb(163, 240, 38);
}
a{
    text-decoration: none;
    color:hwb(36 55% 3%)
}
ul>li{
    font-weight: bold;

}
ul>li:hover{
    color:rgb(85, 135, 243)
}
a:hover{
    color:rgb(248, 89, 89)
}
ul li:nth-child(4){
    color: rgb(233, 7, 233);
}

ul li::before {

    content: "🚀 ";
    
    }
a::after{
    content: "🌌";
}
p::first-letter{
    font-size: 300%;
    color: rgb(243, 118, 29);
}
p:not(:first-of-type){
    text-decoration: underline overline;
}
a:active{
    font-size: 120%;
    color: fuchsia;
}
a:visited{
    color:rgb(26, 189, 26);
    font-size: 50px;
}